/*
  This Css For index.html
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --primary-color: #4c16a7;
  --accent-color: #ffffff;
  --semantic-color: #300e6a;
  --neutral-color: #acacac;
}

body {
  background: var(--accent-color);
  font-family: "Poppins";
}

.top-nav > nav {
  font-size: small;
  background: var(--semantic-color);
}

.navbar-light a.nav-link {
  color: rgba(255,255,255,0.7) !important;
}

.navbar-light a.nav-link:focus, .navbar-light a.nav-link:hover {
  color: #f7c531 !important;
}

.top-nav,
.navbar-brand {
  color: var(--accent-color);
}

.navbar {
  background: var(--primary-color);
  margin-top: -1px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: var(--primary-color);
  border-left: 2px solid #ffa710;
}

.dropdown-menu .dropdown-item {
  color: var(--accent-color);
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background-color: #f7c531;
}

.dropdown-menu .dropdown-divider {
  border-top: 1px solid #ffa710;
}

i.fas.fa-angle-down {
  padding-left: 0.5em;
}

.navbar-toggler-icon {
  color: var(--accent-color);
}

.navbar .navbar-brand img {
  height: 53px;
  margin-right: -100px;
}

.navbar .navbar-brand {
  padding-top: 0;
  color: var(--accent-color);
}

.navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
  color: #f7c531;
}

.navbar .nav-link {
  color: var(--accent-color);
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
  color: #f7c531;
}

li.nav-item a.nav-link.dropdown-toggle {
  color: var(--accent-color);
}

li.nav-item a.nav-link.dropdown-toggle:hover {
  color: #f7c531;
}

/* .nav-link.custom {
  border-left: 1px solid var(--accent-color);
  height: 59px;
  width: 60%;
} */

.nav-link.custom:focus, .nav-link.custom:hover {
  color: var(--accent-color) !important;
}

.navbar .button-collapse {
  padding-top: 1px;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 3px;
}

.dropdown-toggle::after {
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.card {
  background: transparent;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px
}

.card2 {
  margin: 0px 40px
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px
}

.image {
  width: 360px;
  height: 280px
}

.border-line {
  border-right: 1px solid #EEEEEE
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
}

.or {
  width: 10%;
  color: #E0E0E0;
  font-weight: bold
}

h6 {
  color: #EEEEEE;
}

.text-sm {
  color: #EEEEEE;
  font-size: 14px !important
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

a {
  color: #EEEEEE;
  cursor: pointer
}

.btn-blue {
  background-color: #ffa710;
  width: 150px;
  color: #fff;
  border-radius: 20px
}

.btn-blue:hover {
  background-color: #EEEEEE;
  color: #4c16a7;
  cursor: pointer
}


.page-footer {
  font-size: small;
  background: var(--primary-color);
  color: rgba(255,255,255,0.7);
  position: relative;
  bottom: 0;
}

.page-footer a {
  color: rgba(255,255,255,0.7);;
  cursor: pointer;
}

.page-footer a:hover {
  color: #f7c531;
  text-decoration: none;
}

.page-footer .list-unstyled li a {
  font-size: 15px;
}

.page-footer .footer-copyright {
  border-top: none;
}


@media (max-width: 450px) {
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
}

@media (min-width: 768px) {
  .nav-link.custom {
    height: 40px;
    width: 60%;
    padding: 0.5rem;
  }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .hidden-md.hidden-lg {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
  .nav-link.custom {
    height: 59px;
    width: 60%;
    padding: 0.5rem;
  }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .hidden-md.hidden-lg {
    display: none;
  }
}

@media (min-width: 1441px) {
  
  .hidden-md.hidden-lg {
    display: none;
  }
}
/*# sourceMappingURL=style2.css.map */